*.iml
**/.mvn/
.idea/
atlassian-ide-plugin.xml
[Tt]arget/
*.log
*~
.project
.settings
.classpath
*.factorypath
desktop.ini
*.orig
*.jar
*.dll
maven-wrapper.properties
mvnw
mvnw.cmd
!**/res/*.jar
*.mdb

backend/evolve-usage-server-parent/dev.properties
/sftp/hostkey.ser

*.mv.db
*.trace.db

!**/test/resources/audit_logs/*